{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}
{# {% block carousel %}Home{% endblock %} #}


{% block content %}


{% block header %}
  {# session header #}
  <div  class=' header_img'>
    <div class="container ">
      <h1 class="aos-item"
          data-aos="zoom-out-left"
          data-aos="fade-down"
          data-aos-offset="0"
          data-aos-delay="50"
          data-aos-duration="2000"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center">
      La maison de la déco</h1>
      {# <div id="line"></div> #}
      {# <h2>Dév front-end</h2> #}
      <div class="row">
            <div class="col-3"></div>
            <div class="col-6"><span class="typed"></span></div>
            <div class="col-3"></div>
      </div>
    </div>
  </div>


{# end-session header #}
{% endblock %}
      <!-- Three columns of text below the carousel -->
      <div class="row  ">
        {% for product in best %}
          <div class="col-md-3 align-items-cente my-3">
            {% include 'product/single_product.html.twig' %}

          </div>
        {% endfor %}
      </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        

        <div class="row session-1 ps-3 ">
        <h2 class='text-center py-3 sous-titre'>Des idées qui vont vous redonner des couleurs</h2>
          <div class=" col-md-6">
            <h2 class="subtitle">La maison de la deco </h2>
            <p class="subtitle-2">Des centaines d’articles pour s’inspirer, découvrir notre actualité et trouver les bonnes idées pour aménager sa maison avec style et selon ses envies</p>
          </div>
          <div class=" col-md-6">
              <img class=" home img-fluid " src="{{ asset('asset/images/header-img3.jpg') }}" alt="home-1">
          </div>
        </div>


      <div class="row featurette my-2 ">
        <div class="col-md-7 order-md-1">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

        </div>
      </div>
      <div class='contenair'>
      <div class="row">
        <div class="col-md-7 ">
          <h2>Soyez au courant des dernières tendances</h2>
            <p>Restez informé des nouvelles tendances, mais aussi de nos différentes offres..</p>
        </div>
        <div class="col-md-5 ">
            <input type="mail"><input type="submit" value="S'abonner">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 bg-warning">fff</div>
        <div class="col-md-6 bg-info">ff</div>
      </div>
      <div class="row">
        <div class="col-md-4 bg-warning">ff</div>
        <div class="col-md-6 bg-info">ff</div>
        <div class="col-md-2 bg-secondary">ff</div>
      </div>
      
      
      
      
      </div>
     

      {# <div class="row   session-1 my-2 ">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

        </div>
      </div> #}

     

      <!-- /END THE FEATURETTES -->

    
{% endblock  %}
