{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class="block">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <form method="post" class="container">
       

        <h1 class="h3 mb-3 font-weight-normal">Reinitialiser mon passe</h1>
        <label for="inputEmail">Votre email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    

        

        <button class="btn btn-lg btn-info btn-sm mt-3 " type="submit">
            Valider
        </button>
        <hr>
            <p class="text-center my-4">Ou souhaitez-vous <a href="{{ path('app_login') }}"> Vous connecter </a></p>
    </form>
</div>
{% endblock %}
