{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class="block">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
<h1 class="h3 mb-3 font-weight-normal">Reinitialiser mon passe</h1>

    {{ form(form) }}
</div>
{% endblock %}
