{% extends 'base.html.twig' %}

{% block title %}Hello FAQController!{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 faq text-center my-5">
        
<h1>FAQ</h1><hr>
<h2>Qui sommes-nous ?</h2> 

<p> Maison de la déco est une entreprise française fondée en 2021 dont l'unique objectif est de proposer à ses clients des produits tendances et de qualité tout en leur faisant vivre une expérience client inoubliable. </p>

 
<h2>Où vos produits sont-ils stockés ?</h2> 

<p>   La grande majorité de nos produits sont stockés dans nos entrepôts en France.</p>

 
<h2>Combien de temps mettez-vous pour livrer ?</h2>

<p> Cela dépend de nos produits, mais en moyenne 7 à 14 jours ouvrable au vue de la condition sanitaire actuelle.</p>

 
<h2>Êtes-vous une marque française ? </h2> 

<p> Oui, nous sommes une marque française et notre entreprise est également situé en France. De plus, notre support client ainsi que notre service client sont composés d'individus français vous permettant de communiquer plus facilement.</p>

 
<h2>Expédiez-vous partout dans le monde ?</h2>

<p> Nous livrons pour le moment uniquement pour le marché francophone.</p>

 
<h2>Fournissez-vous des informations du suivi/pistage du produit?</h2>

<p>Oui, lorsque votre achat est validé, vous recevrez un code afin de pouvoir suivre votre commande, par mail </p>
 
<h2>Il manque certains articles de ma commande, que se passe-t-il?</h2>

<p>   Nos produits sont expédiés séparément selon votre commande. Si celle-ci contient par exemple des articles de deux entrepôts différents, il y aura par conséquent deux livraisons. Le reste de la commande arrivera très certainement sous peu.</p>

<h2>J’ai reçu un article endommagé. Que puis-je faire?</h2>

<p> Nous sommes navrés d’entendre cela. Envoyez-nous simplement une image de l’article endommagé en question à l'adresse email: la.maison.de.la.deco@gmail.com.fr et nous vous enverrons un article similaire de remplacement aussi vite que possible.</p>
 
<h2>Avez-vous une politique de remboursement ?</h2>

<p> Nous faisons de notre mieux pour résoudre tous les problèmes que nos clients pourraient rencontrer avec leurs articles en ligne. Si aucune garantie n'est présente dans la description du produit qui vous intéresse alors le remboursement sera appliqué de la manière suivante. Si vous désirez recevoir un remboursement sur votre commande, nous pouvons bien entendu accomplir le remboursement, dans le cas où le recours est fait dans les 15 jours suivant la réception de la commande et que le ou les produits concernés ne sont pas soldés. Pour plus d’informations, veuillez en lire d’avantage sur notre politique de remboursement lien de la politique de remboursement</p>

 
<h2>Vos produits sont-ils certifiés ?</h2>

<p> Absolument, nous nous efforçons de tester nous-mêmes avant les produits afin d'être sûr de la qualité de celui-ci</p>

    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
