{% extends 'base.html.twig' %}

{% block title %}
    inscription
{% endblock %}

{% block body %}
    {% if notification %}
            <div class="alert alert-info">{{ notification  }}</div>
                <hr>
        {% endif %}

    {{ form(form) }}{% endblock %}
    