{% extends "base.html.twig" %}

{% block title %}
    confirmation de la commande
{% endblock %}

{% block body %}
<h2>Confirmation de commande</h2>
<p class='form-check'>
    Bonjour {{ payé.user.firstName }} {{ payé.user.lastName }} </br>
    Nous vous remercions de votre commande n°{{ payé.reference }} </br>
    une confirmation vient de vous etre envoyé à l'adress {{ payé.user.email }}
</p>
   
{% endblock %}